@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  max-width: 1440px;
  background-color: hsl(226, 43%, 10%);
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  margin: 200px 0px 200px 0px;
  gap: 30px;
}

.profile-div {
  width: 250px;
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
}
.avatar {
  border-radius: 10px;
  padding-bottom: 80px;
  background-color: hsl(246, 80%, 60%);

  & img {
    margin: 30px;
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 100%;
  }
  & p {
    margin: 0px 30px 0px 30px;
    color: hsl(236, 100%, 87%);
    font-weight: 300;
  }
  & h1 {
    margin: 0px 30px 0px 30px;
    font-weight: 300;
    color: #fff;
    font-size: 2.5rem;
  }
}
.switch-btn {
  display: flex;
  flex-direction: column;

  & button {
    border: transparent;
    color: hsl(235, 45%, 61%);
  }

  #daily-btn,
  #weekly-btn,
  #monthly-btn {
    font-size: 18px;
    cursor: pointer;
    background-color: hsl(235, 46%, 20%);
    margin: 20px 30px 20px 30px;
  }
  #weekly-btn,
  #monthly-btn {
    margin-top: 0;
  }
  #daily-btn {
    width: 15%;
  }
  #weekly-btn {
    width: 20%;
  }
  #monthly-btn {
    width: 22%;
  }

  #daily-btn:hover,
  #weekly-btn:hover,
  #monthly-btn:hover {
    color: #fff;
    transition: 0.3s;
  }
}

/*Cards Style*/
.dashboard-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.time-tracking-divs {
  width: 220px;
}

.card-image {
  width: 220px;
  border-radius: 10px;
}
.card-img {
  width: 80px;
  height: 68px;
  margin-left: 57%;
}

.card-info {
  height: 180px;
  width: 220px;
  border-radius: 10px;
  background-color: hsl(235, 46%, 20%);
  position: absolute;
  transform: translate(0px, -25px);
  color: #fff;
  cursor: pointer;

  & div {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 20px 20px;
    align-items: center;
  }
  & .title {
    font-weight: 500;
    font-size: 18px;
  }
  & div i {
    color: hsl(236, 100%, 87%);
    cursor: pointer;
  }
  & div i:hover {
    color: #fff;
  }
  & h2 {
    font-size: 3rem;
    margin: 0px 20px 5px 20px;
    font-weight: 300;
  }
  & p.timeframes-p {
    font-size: 13px;
    margin: 0px 20px 20px 20px;
    color: hsl(236, 100%, 87%);
  }
}
.card-info:hover {
  background-color: hsl(235, 45%, 61%);
  transition: 0.3s;
}

/*Media Queries*/
@media (max-width: 1040px) {
  body {
    max-width: 1040px;
  }
  .main-container {
    margin: 50px 0px 50px 0px;
    gap: 15px;
  }
  .dashboard-div {
    gap: 20px;
  }
}

@media (max-width: 769px) {
  body {
    width: 768px;
  }
  .main-container {
    gap: 20px;
    margin: 85px 0px 85px 0px;
  }

  .profile-div {
    width: 160px;
  }
  .avatar {
    padding-bottom: 60px;

    & img {
      margin-left: 40px;
    }
    & p,
    h1 {
      text-align: center;
      margin: none;
    }
    & h1 {
      font-size: 1.8rem;
    }
  }

  .dashboard-div {
    gap: 15px;
  }
  .time-tracking-divs {
    width: 160px;
  }
  .card-image {
    width: 160px;
  }
  .card-img {
    width: 60px;
    height: 50px;
  }
  .card-info {
    width: 160px;

    & h2 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }
    & p.timeframes-p {
      font-size: 12px;
    }
  }
}

@media (max-width: 426px) {
  body {
    width: 425px;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    margin: 60px 15px 170px 15px;
    gap: 20px;
  }
  .profile-div {
    width: 395px;
  }
  .avatar {
    padding: 0;
    display: flex;
    align-items: center;

    & p,
    h1 {
      margin: 0;
      font-size: 1.8rem;
    }
  }
  .switch-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    & #daily-btn,
    #weekly-btn,
    #monthly-btn {
      margin: 15px 0px 15px 0px;
    }
  }
  .dashboard-div {
    display: flex;
    flex-direction: column;
    gap: 130px;
  }
  .time-tracking-divs {
    width: 395px;
  }
  .card-image {
    width: 395px;
  }
  .card-img {
    width: 80px;
    height: 58px;
    margin-left: 75%;
  }
  .card-info {
    width: 395px;
    height: 130px;

    & div {
      padding: 25px 25px 5px 25px;
    }
    & .title,
    div i {
      font-size: 22px;
    }
    & h2 {
      display: inline;
      font-size: 2.5rem;
      margin: 0px 0px 5px 25px;
    }
    & p.timeframes-p {
      display: inline-block;
      font-size: 18px;
      margin-left: 50px;
      transform: translate(0px, -5px);
    }
  }
}
